alembic~=1.0
argon2_cffi~=18.0
bloop~=2.2
cryptography~=2.3
falcon~=1.0
marshmallow~=3.*
pendulum~=2.0
psycopg2~=2.7
pyyaml~=3.0
sqlalchemy~=1.2

click~=6.7
coverage
flake8
httpie
httpie-jwt-auth
importanize
ipython
pytest
termcolor
tox
Werkzeug
