alembic~=1.0
argon2_cffi~=19.0
bloop~=2.4
cryptography~=2.3
falcon~=2.0
falcon-cors~=1.1
marshmallow~=3.0a1
pendulum~=2.0
psycopg2~=2.7
pyyaml~=5.0
sqlalchemy~=1.2

jinja2~=2.0
click~=7.0
coverage
flake8
httpie
httpie-jwt-auth
importanize
ipython
pytest
termcolor
tox
Werkzeug
